:root {
  --primary-0: #e6f2ff;
  --primary-50: #cfe5ff; /* background */
  --primary-100: #3692ff; /* default */
  --primary-200: #1967d6; /* hover */
  --primary-300: #1251aa; /* active, focus */

  --secondary-50: #f9fafb;
  --secondary-100: #f3f4f6; /*input bg*/
  --secondary-200: #e5e7eb;
  --secondary-300: #fcfcfc; /* card bg, bottom banner bg */
  --secondary-350: #dfdfdf;
  --secondary-400: #9ca3af; /* inactive */
  --secondary-500: #6b7280;
  --secondary-600: #4b5563;
  --secondary-700: #374151;
  --secondary-800: #1f2937;
  --secondary-900: #111827; /* footer bg*/

  --error: #f74747;
}

html {
  font-size: 10px; /* === 62.5% (16 * 62.5% = 10px) */
}

body {
  font-size: 1rem;
  font-family: 'Pretendard', sans-serif;
  color: black;
}

h1 {
  font-size: 3.5rem;
  font-weight: 900;
}

h2 {
  font-size: 3.2rem;
  font-weight: 600;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

p {
  font-size: 1rem;
  line-height: 1.7;
}

ul,
ol {
  font-size: 1rem;
}

a {
  cursor: pointer;
}

button {
  background-color: var(--primary-100);
  color: white;
  cursor: pointer;
  border: none;
}

button:hover {
  background-color: var(--primary-200);
}

button:active {
  background-color: var(--primary-300);
}

button:disabled {
  background-color: var(--secondary-400);
  cursor: not-allowed;
}

/* 
responsive CSS
desktop-first(1920이상) 큰 모니터 
breakpoint: 1919px(작은 모니터), 1199px(태블릿), 767px(모바일) (375px미만은 고려하지 않습니다.)
*/
@media (max-width: 1919px) {
  html {
    font-size: 9px;
  }
}

@media (max-width: 767px) {
  html {
    font-size: 8px;
  }
}
