/* header */
header,
main,
footer {
  margin: 0 auto;
}

.home-header {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  min-height: 7rem;
  background-color: white;
  border-bottom: 1px solid var(--secondary-350);
  position: sticky;
  top: 0;
}

.home-header-content {
  max-width: 110rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container a {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  width: 4rem;
}

header h1 a {
  color: var(--primary-100);
}

.login-button {
  padding: 1.3rem 4rem;
  font-size: 1.2rem;
  border-radius: 8px;
  background-color: var(--primary-100);
  color: white;
}

.login-button:hover {
  background-color: var(--primary-200);
}

/* banner */
.banner-img {
  max-height: 34rem;
}

.banner {
  background-color: var(--primary-50);
  min-height: 54rem;
  display: flex;
  justify-content: center;
  align-items: end;
}

.banner-content {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 12rem 0;
}

.banner-title {
  line-height: 5rem;
}

.change-line {
  display: block;
}

.view-button {
  padding: 1.1rem 10rem;
  border-radius: 40px;
  font-size: 1.4rem;
}

/* bottom banner */
.bottom {
  width: 100%;
  background-color: var(--secondary-300);
  padding-top: 13rem;
}

/* home-cards home-card */
.home-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-card-content {
  margin: 13rem 0;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  height: auto;
  background-color: var(--secondary-300);
}

.home-card-info {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
}

.home-card-badge {
  font-size: 1.4rem;
  color: var(--primary-100);
  font-weight: 700;
}

.home-card-title {
  line-height: 5rem;
}

.home-card-description {
  font-size: 2rem;
  line-height: 3rem;
  margin-top: 1rem;
}

.home-card-content:nth-child(2) {
  flex-direction: row-reverse;
  text-align: end;
}

/* footer */
footer {
  background-color: var(--secondary-900);
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  min-height: 16rem;
  height: auto;
}

.footer-content {
  max-width: 90rem;
  width: 100%;
  padding: 0 2rem;
  color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  font-size: 1.6rem;
  justify-self: start;
}

.support {
  justify-self: center;
}
.support a {
  margin-right: 1.5rem;
}

.social-media {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-self: end;
}

/* 
responsive CSS
desktop-first(1920이상) 큰 모니터 
breakpoint: 1919px(작은 모니터), 1199px(태블릿), 767px(모바일) (375px미만은 고려하지 않습니다.)
*/

@media (max-width: 1919px) {
  .home-header {
    padding: 0 200px;
  }

  .home-header-content {
    max-width: none;
  }
}

@media (max-width: 1199px) {
  .home-header {
    padding: 0 24px;
  }

  .banner {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
  }

  .banner-content {
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 5rem 0 15rem;
  }

  .change-line {
    display: inline;
  }

  .bottom .banner-content {
    text-align: center;
    margin-top: 15rem;
  }

  .home-card-content {
    margin: 2rem 0;
    flex-direction: column;
    align-items: start;
  }

  .home-card-content:nth-child(2) {
    flex-direction: column;
    text-align: end;
  }

  .footer-content {
    max-width: 60rem;
  }
}

@media (max-width: 767px) {
  .home-header {
    padding: 0 16px;
  }

  .home-header .logo {
    display: none;
  }

  .home-cards {
    margin-top: 4rem;
  }

  .footer-content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.4fr 0.6fr;
    grid-template-areas:
      'support social'
      'copyright .';
  }

  .support {
    grid-area: support;
    justify-self: start;
  }

  .social-media {
    grid-area: social;
  }

  .copyright {
    grid-area: copyright;
  }
}
